@use "sass:math";

//theme
$primary: hsl(232, 54%, 41%);
$primaryLight: hsl(238, 54%, 61%);
$primaryDark: hsl(227, 100%, 22%);
$textOnPrimary: hsl(0, 0%, 100%);
$secondary: hsl(232, 50%, 45%);
$secondaryLight: hsl(237, 62%, 65%);
$secondaryDark: hsl(223, 100%, 24%);
$textOnSecondary: hsl(0, 0%, 100%);
$background: hsl(0, 0%, 100%);
$textOnBackground: hsl(0, 0%, 16%);
$textOnBackgroundLight: hsl(0, 0%, 33%);
$highlighter: grey;
$shadow: 0 0 3px grey;
$shadowColor: grey;

$highlightWeight: 80;
$highlightDarkWeight: 60;
$coverWeight: 50;

$aniDuration: 300ms;

//size
$navSize: 55px;
$drawerWidth: 230px;

//calculations
$highlight: mix(rgba(255, 255, 255, 0), $highlighter, $highlightWeight);
$highlightDark: mix(rgba(255, 255, 255, 0), $highlighter, $highlightDarkWeight);
$coverColor: mix(rgba(255, 255, 255, 0), $highlighter, $coverWeight);

$nav1in3: math.div($navSize, 3);
