node_modules
package-lock.json
chit-core/lib
chit-renderer/app
chit-web/dist
chit-web/dev/**/*.js
chit-web/src/prod.env
chit-web/src/public/app/resources/browserSupport.js
chit-web/src/users.prod.json
chit-electron/dist/builder-effective-config.yaml
chit-electron/dist
chit-electron/app
chit-electron/electron-builder.yml
