::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(128, 128, 128, 0.8);
}
::-webkit-scrollbar-track{
  background-color: rgba(128, 128, 128, 0.2);
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  html {
    background-color: white;
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(129, 129, 129);
  }
  body::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  html {
    background-color: black;
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128);
  }
  body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
}
