:root {
  --header-back-color: rgb(255, 255, 255);
  --card-back-color: rgb(255, 255, 255);
  --form-back-color: rgb(255, 255, 255);
}

footer {
  margin-top: 30px;
  text-align: center;
}
.margin-center {
  margin:auto;
}
.spacify-rows .row{
  --padding:6vmax;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}
.pad-card{
  padding:5vmin;
  margin:2vmin;
}